## <center> Exploring Airbnb Market Trends <center>

***Refer to the following files:***
* airbnb_last_review.tsv
* airbnb_price.csv
* airbnb_room_type.xlsx

In [1]:
# Import necessary packages
import pandas as pd
import numpy as np

#Load the datasets
price = pd.read_csv("C:/Users/uyen/Desktop/Real-World-Projects/Python/datasets/airbnb_price.csv")
room_type = pd.read_excel("C:/Users/uyen/Desktop/Real-World-Projects/Python/datasets/airbnb_room_type.xlsx")
reviews = pd.read_table("C:/Users/uyen/Desktop/Real-World-Projects/Python/datasets/airbnb_last_review.tsv")

In [2]:
#print out the first five lines of each dataframe
print("Table: Price \n {}".format(price.head()))
print("Table: Room Type \n {}".format(room_type.head()))
print("Table: Last Review \n {}".format(reviews.head()))

Table: Price
    listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
Table: Room Type
    listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
Table: Last Review
    listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

Since we have three separate dataframes with a common column of ‘listing_id’, it is easier to work with if these data frames are merged into one

In [3]:
#merge three dataframes
d1 = price.merge(room_type, on = "listing_id")
d2 = d1.merge(reviews, on = "listing_id")
df = d2
df.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019

The merged data frame now contains all columns from the three data frames

**What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.**

Change the data type of ‘last_review’ column to datetime from object

In [4]:
#change data type of "last_review" to dates
df["last_review"] = df["last_review"].astype("datetime64[ns]")
df["last_review"] = df["last_review"].dt.strftime('%m-%d-%Y')
df.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,05-21-2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,07-05-2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,06-22-2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,06-24-2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,06-09-2019

Use the np.max() and np.min() functions to find the first reviewed dates and last reviewed dates

In [5]:
#earliest review
earliest_review = np.min(df["last_review"])
earliest_review

'01-01-2019'

In [6]:
#latest review
latest_review = np.max(df["last_review"])
latest_review

'07-09-2019'

**How many of the listings are private rooms? Save this into any variable.**

Examine unique values in the ‘room_type’ column

In [7]:
#examine unique values of room_type
df["room_type"].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

There are variations in the ‘room_type’ column so they need to be consolidated
* Values will be capitalized for consolidation

In [8]:
#capitalize room_type
df["room_type"] = df["room_type"].str.capitalize()
df["room_type"].unique()

array(['Entire home/apt', 'Private room', 'Shared room'], dtype=object)

Count the number of private room listings

In [9]:
#count the number of private room listings
private_room = 0

for index, value in df["room_type"].items():
    if value == "Private room":
        private_room += 1
print("Private rooms: {}".format(private_room))

Private rooms: 11356

**What is the average listing price? Round to the nearest two decimal places and save into a variable.**

The ‘price’ column contains both integers and strings
* Values must be parsed to separate and retain only integer values

In [10]:
#change datatypes for df
df["listing_id"] = price["listing_id"].astype('int32')
df["price"] = price["price"].astype("str")
df["nbhood_full"] = price["nbhood_full"].astype("str")

In [11]:
#parsing data in price["price"] to retain only integer values
df["price"] = df["price"].str.split(" ")
df["price"] = df["price"].str[0]
df["price"] = df["price"].astype("float32")

Utilize the np.mean() function to compute the average listing price

In [12]:
#find the average listing price
average_price = round(np.mean(df["price"]), 2)
average_price

141.78

**Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.**

* Assign the variables to the required variable names
* Change the variables to correct data types
    * ‘first_reviewed’ and ‘last_reviewed’ variables are changed to datetime using the pd.to_datetime() function
    * ‘avg_price’ is changed to float

In [13]:
#review_dates dataframe
first_reviewed = pd.to_datetime(earliest_review, format='%m-%d-%Y')
last_reviewed = pd.to_datetime(latest_review, format = '%m-%d-%Y')
nb_private_rooms = private_room
avg_price = average_price.astype("float64")

review_dates = pd.DataFrame(
    {'first_reviewed': [first_reviewed],
     'last_reviewed': [last_reviewed],
     'nb_private_rooms': [nb_private_rooms],
     'avg_price': [avg_price.round(2)]} )

review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78